
DataCamp_Tutorials/recipeitems.json
Exercises/data/.DS_Store
Exercises/data/loan.csv
Exercises/data/weather_data.csv
Exercises/data/weather_data.xls
SelfProject/Real-time-face_mask-detection-master/*
SelfProject/Real-time-face_mask-detection-master.zip
Exercises/data/NASA_access_log_Aug95.txt
Exercises/data/NASA_access_log_Jul95.txt
*.csv
*.json
*.DS_Store
*.gz